*{
  margin:0;padding: 0;box-sizing: border-box;
}

table{
width: 600px;   
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 25px;
  text-align: left;
}
.heading{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
